<style>
body { background: url("../../pics/e_bg_c.jpg") no-repeat center center fixed; background-size: cover; }
.content_wrap { background-color: rgba(0,0,0, 0.6); color: #fff; text-align: center; padding: 20px; width: 425px; margin: 0 auto; }
.content_wrap span { font-size: 24px; }

</style>
  <div class="main_wrap-[!layout_style!]">
    <div class="content_wrap">
    <p><span>You have chosen the [!program_chosen!] Program</span><br />($[!price!]/month)</p>
    <button ng-click="back2programs();">Cancel</button>
    <button ng-click="go2payment();">Go to Payment</button>
  </div><!-- . main_wrap -->
